.wrapper {
    font-family: "Over the Rainbow", cursive;
    background-image: url('../Pictures/bg1.jpg');
    background-size: 100%;
}

.postcard-body input {
    font-size: 18px;
    font-family: "Over the Rainbow", cursive;
}

.postcard {
    background-color: whitesmoke;
    width: 700px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%); /* This moves the postcard using x and y axis */
    padding: 20px;
    border-color: black;
    border: solid;
}

.postcard header{
    max-width: 60px;
    float: right;  
}

.postcard-header{
    overflow: hidden;
}

.postcard-header img{
    max-width: 45px;
    float: right;
    overflow: hidden;
}

.postcard h1 {
    margin: 0;
}

.postcard-body {
    overflow: hidden;
}

.left-part {
    float: left;
    width: 50%
}

.right-side {
    float: right;
    width: 40%;
}

.right-side input {
    display: block;
}

.postcard-footer {
    padding: 10px;
    text-align: center;  
}

.postcard-footer input[type=submit] {
    background-color: lightgray;
    border-bottom: 1px solid black;
    cursor:progress;
}

.postcard-body input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    font-family: "Over the Rainbow", cursive;
    font-size: 15px;
    background-color: whitesmoke;
    width: 240px;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.postcard-body input[type=email] {
    border: none;
    border-bottom: 1px solid black;
    font-family: "Over the Rainbow", cursive;
    font-size: 15px;
    background-color: whitesmoke;
    width: 240px;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.postcard-body textarea {
    border: none;
    background-color: whitesmoke;
}

h1 {
    font-size: 35px;
}

.postcard-styles{
    flex-direction: column;
    width: 260px;
    margin-bottom: 8px;
}




